.gd-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gd-flex-c {
  display: flex;
  flex-direction: column;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 5px;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.anticon-copy {
  font-size: 12px;
  color: rgb(153, 153, 153) !important;
  margin-left: 4px;
}
