h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
a {
  text-decoration: none;
}
svg {
  pointer-events: none;
}

/* 修改ant-design-vue的样式 */
.ant-collapse-borderless > .ant-collapse-item {
  border-color: rgb(238, 238, 238) !important;
}
.ant-input:hover, 
.ant-input:focus,
.ant-btn:hover, 
.ant-btn:focus {
  border-color: #d9d9d9 !important; /* 去掉hover时的背景色 */
  color: rgb(0,0,0) !important;
  box-shadow: none !important;
}
.ant-input-search .ant-input {
  height: 40px !important; /* 修改输入框的高度为40px */
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}
